body, html {
	font-family: 'Work Sans', sans-serif;
	font-weight: 400;
	background-color: #010F1A;
	padding: 0;
}

b, strong {
	font-weight: 700;
}

.textholder {
	padding: 30px;
	font-size: 2em;
	line-height: 1.3;
}

p {
	color: rgba(255,255,255,0.8);
	margin-bottom: 4px;	
}

a {color: #fff;}